
  <div class="container">
  <table class="table banana">
    <div class="col-2"></div>
    <div class="col-8">
      <tbody>
        <tr>
          <th scope="row">Status:</th>
          <div *ngIf="incidentService.incident.status; else inactive">
            <td>
              active
            </td>
          </div>
          <ng-template #inactive>
            <td>
              inactive
            </td>
          </ng-template>
        </tr>
        <tr>
          <th scope="row">Student Name:</th>
          <td>{{incidentService.incident.studentName}}</td>
        </tr>
        <tr>
          <th scope="row">Student ID:</th>
          <td>{{incidentService.incident.studentID}}</td>
        </tr>
        <tr>
          <th scope="row">Student Phone:</th>
          <td>{{incidentService.incident.studentPhone}}</td>
        </tr>
        <tr>
          <th scope="row">Type:</th>
          <td>{{incidentService.incident.type}}</td>
        </tr>
        <tr>
          <th scope="row">Time:</th>
          <td>{{incidentService.incident.time}}</td>
        </tr>
        <tr>
            <th scope="row">Location:</th>
            <td>{{incidentService.incident.location}}</td>
        </tr>
        <tr>
              <th scope="row">Description:</th>
              <td>{{incidentService.incident.description}}</td>
        </tr>
        </tbody>
      </div>
  <agm-map [zoom]="16" [latitude]="lat" [longitude]="lng">
    <agm-marker [iconUrl]="incidentUrl" [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
  </table>

<br>
  <button (click)="setIncidentStatusFalse()">Set status inactive</button>
  <br>
  <br>
   <div class="comment-box">
  <h1>Comments:</h1>
  <div class="comments">

      <div *ngFor = "let comment of incidentService.incident.comments;" class="alert alert-success" role="alert">
        {{ comment }}
      </div>

  </div>
  <br>
  <div class="container2">
    <textarea [(ngModel)]="comment" class="form-control" rows="3" id="comment"></textarea>
    <button (click)="insertComment()">Comment</button>
  </div>
<div class="col-2"></div>
<br>
</div>
<br>
<br>