<div class="container">
  <!-- Content here -->
  <h1>Incident Information</h1>
  <tr class="table-success">
  <ul class="list-group">
    <td class="list-group-item">
      <div class="incident-title">
          <b>Description:</b>
      </div>
      <div class="incident-description">
        {{incidentService.incident.description}}
      </div>
    </td>
    <td class="list-group-item">
      <div class="incident-title">
          <b>Type:</b> 
      </div>
      <div class="incident-description">
        {{incidentService.incident.type}}
      </div>
    </td>
    <td class="list-group-item">
      <div class="incident-title">
          <b>Time:</b> 
      </div>
      <div class="incident-description">
          {{incidentService.incident.time}}
      </div>
    </td>
    <td class="list-group-item">
      <div class="incident-title">
          <b>Location:</b> 
      </div>
      <div class="incident-description">
          {{incidentService.incident.location}}
      </div>
    </td>
  </ul>
  </tr>
  <agm-map [zoom]="16" [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng" [iconUrl]="incidentUrl"></agm-marker>
  </agm-map>
</div>
<div class="container">
    <h3>Comments</h3>
    <textarea class="form-control" rows="5" id="comment"></textarea>
</div>