<header>


    <!-- <div class="navbar">
        <nav>
          <ul>
            <li><a routerLink="/home">HOME</a></li>
            <li><a routerLink="/howitworks">VIEW ALL INCIDENTS</a></li>
            <li><a routerLink="/watchlectures">VIEW MAP VISUAL</a></li>
            <li><a routerLink="/uploadvids">STUDENT LOGIN</a></li>
            <li><a routerLink="/contribute">UPD LOGIN</a></li>
          </ul>
        </nav>
    </div> -->

    <div class="white-box">
        <a (click)="navigateHome()"><embed src="../../assets/images/go-poly-safe-transparent.png" width="200"></a>
    </div>
    

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!-- <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> -->
      
        <div class="collapse navbar-collapse" id="navbarColor02">
          <ul class="navbar-nav mr-auto nav-center">
            <li class="nav-item active">
              <a class="nav-link" href="#">HOME<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">VIEW ALL INCIDENTS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">VIEW MAP VISUAL</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">STUDENT LOGIN</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">UPD LOGIN</a>
            </li>
          </ul>
          <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
          </form> -->
        </div>
      </nav>

</header>

