.margin{
    margin-left: 50px;
    margin-right: 50px;
}

h1{
    padding-left: 20px;
}


button {
    background-color: #02B875;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    bottom: 0px;
    left: 0
  }

button:hover,
button:focus {
    background: #098b02;
}

/* tr:nth-child(even) {background-color: #f2f2f2;} */

th {
    background-color: #02B875;
    color: white;
    
  }


/* tr:nth-child(even) {background-color: #f1bbbb;} */

/* td {
    background-color: #ffffff
} */
/* 
.more {
    background-color: #ffffff;
    left: 5px;
} */

.container {
    width: 100%;
}