.home-container {
    text-align:center;
}

#map {
    z-index:-1;
    height: 100vh;
}

button {
    position:absolute;
    z-index:100;
}

agm-map {
    height: 100%;
}

button {
    background-color: #02B875;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    bottom: 0px;
    left: 0
  }

button:hover,
button:focus {
    background: #098b02;
}